body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.instagram-post {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 400px;
    border-radius: 10px;
    padding: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 14px;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-image img {
    width: 100%;
}

.post-content {
    padding: 10px 14px;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.post-icons {
    display: flex;
}

.post-save-icon {
    display: flex;
}

.likes-comments {
    margin-bottom: 8px;
}

.likes {
    font-weight: bold;
}

.post-description {
    margin-bottom: 8px;
}

.description {
    margin-left: 5px;
}

.comments a {
    color: #8e8e8e;
    text-decoration: none;
    font-size: 14px;
}

.timestamp {
    color: #8e8e8e;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
}